h1{
    color: yellowgreen;
    text-align: center;
    text-transform: uppercase;
}

/* uiversal selector*/
 *{
    /* font-size: 30px;
    color: red; */
    margin: 0;
} 

/* tag/element selector*/
h1{
    text-align: center;
    color: green;
}

/*attribute selector*/
a[title="google"]{
    color: rgb(255, 115, 0);
}
a[title="facebook"]{
    color: rgb(29, 59, 194);
}

/*id selector*/
#idselector{
    color: rgb(138, 107, 29);
    font-size: 30px;
}

/*class selector*/
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 30px;
    line-height: 50px;
    text-transform: capitalize;
}

/* descendent selector */
#desc a{
    color: red;
}
#test li{
    color: goldenrod;
}

/* Child Selector*/
#child>a{
    color: green;
}

/* pseudo selector*/
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    font-size: 20px;
}
a:active{
    color: green;
}
a:visited{
    color: red;
}
/*target*/
p:target{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: blue;
}
div:target{
    color: brown;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Border*/
.borderOne{
    border: 2px solid red;
}
.borderTwo{
    border-top: 2px dotted green;
    border-bottom: 2px solid red;
}
.borderStyle{
    /*All four T R B L
    T&B L&R
    T L&R B*/
    border-style:dashed solid dotted double ;
}
.borderColor{
    border-style: solid;
    border-color: brown green;
}
.borderWidth{
    border-style: dotted;
    border-width: 20px;
}
/*Margin*/
.marginLesson{
    border: 1px solid red;
    /* margin: 40px; all four */
    /* margin: 30px 50px; T&B L&R  */
    /* margin: 30px 50px 20px; T L&R B */
    margin: 40px 20px 30px 20px; /*T R B L */
}
.marginTwo{
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: 1px solid red;
}
/*Paddig*/
.paddingOne{
    border: 1px solid red;
    /* padding: 50px;All four */
    padding-top: 50px;
}
/* Inline */
.inline{
    border: 1px solid black;
    color: blue;
    width: 400px;
    display: inline-block;
}
.block{
    border: 1px solid cadetblue;
    width: 400px;
    display: inline-block;
}

/* Float */
.floatleft img{
    width: 30%;
    float: left;
}
.floatright img{
    width: 30%;
    float: right;
}
/* Grid */
.griddone, .gridthree, .gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
}
.griddone div, .gridtwo div, .gridthree div, .gridfour div{
    padding: 20px;
    text-align: center;
    color: white;
}
.gridtwo{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-gap: 10px;
}
.colunmadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.rowadd{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* Position */
.relative_parent{
    border: 1px solid red;
    width: 1000px;
    height: 500px;
}
.relative{
    border: 1px solid green;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 200px;
}
.absolute_parent{
    border: 1px solid brown;
    width: 1000px;
    height: 500px;
    position: relative;
}
.absolute{
    border: 1px solid yellowgreen;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 200px;
}

/* font */

.online{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

@font-face {
    font-family: SofiaSan;
    src: url(Sofia/SofiaSansExtraCondensed-Regular.ttf);
}

.offline{
    font-family: SofiaSan;
    font-size: 30px;
    color: blue;
}
