h1{
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
    font-size: 20px;
}
div{
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
    font-size: 15px;
}
/*Pseudo Selector*/
a:link{
    color: red;
    letter-spacing: 5px;
}
a:hover{
    color: chartreuse;
}
a:active{
    color: darkgoldenrod;
}
a:visited{
    color: rgb(241, 226, 14);
}
/*Target*/
:target{
    border: 1px solid red;
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 30px;
    color: black;
}