@font-face {
    font-family: Noto_Serif;
    src: url('../Noto_Serif/NotoSerif-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Noto_Serif;
}

/* nav start */
.nav{
    /* background-color: rgb(240, 14, 142); */
    box-shadow: 0px 10px 20px rgb(0, 0, 0, .1);
}
.mynav{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 4;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, .1);
}
.logo{
    width: 170px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.navbar{
    display: inline-block;
}
.nav ul{
    float: right;
}
.nav ul li{
    display: inline-block;
    margin-top: 23px;
    margin-right: 50px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li .a_link:hover{
    color: rgb(11, 85, 23);
    font-style: italic;
}
.nav ul .myli .dropdown{
    display: grid;
    grid-template-columns: auto auto;
	width: 200px;
	position: absolute;
	background-color: rgb(11, 85, 23);
	margin-top: 10px;
	opacity: 0;
	border-radius: 5px;
}
.nav ul .myli .dropdown a{
	display: block;
	text-align: left;
    color: white;
    font-size: 12px;
	padding:5px 10px 5px 10px;
}
.nav ul .myli .dropdown a:hover{
	/* background-color:white; 
    color: rgb(11, 85, 23);
	border-radius: 5px; */
    text-decoration: underline;
}
.nav ul .myli:hover .dropdown{
	opacity: 1;
	transition: 1s;
}
.sign_up_btn{
    width: 100px;
    height: 35px;
    background-color: rgb(11, 85, 23);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
.sign_up_btn:hover{
    font-style: italic;
    cursor: pointer;
}
/*Sign In Page*/
.main{
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 50px 150px 0px 150px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, .3);
}
.form{
    padding: 30px 80px 0px 80px;
}
.form h1{
    margin-bottom: 10px;
}
.form form{
    margin-top: 20px;
}
.center_text{
    text-align: center;
}
.gray_text{
    color: rgba(128, 128, 128, 1);
}
.font_size_change{
    font-size: 13px;
}
.box_decoration{
    border: none;
    width: 100%;
    height: 30px;
    outline: none;
}
.input_label{
    margin-top: 30px;
    font-size: 15px;
}
.right_side{
    float: right;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.right_side:hover{
    text-decoration: underline;
}
.sign_in_btn{
    width: 100%;
    height: 35px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: rgb(11, 85, 23);
    color: white;
}
.sign_in_btn:hover{
    font-style: italic;
    cursor: pointer;
}
.sign_google_btn{
    border: 1px solid rgba(128, 128, 128, 0.6);
    width: 100%;
    height: 35px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
}
.sign_google_btn:hover{
    font-style: italic;
    cursor: pointer;
}
.btn_text{
    padding-bottom: 30px;
}
.left_hr{
    width: 20%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    display: inline-block;
    margin-left: 50px;
}
.or_text{
    display: inline-block;
    margin-top: 15px;
}
.right_hr{
    width: 20%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    display: inline-block;
    margin-right: 50px;
}
.sign_link{
    font-weight: bold;
    text-decoration: none;
    color: rgb(11, 85, 23);
}
.sign_link:hover{
    text-decoration: underline;
    font-style: italic;
}
/* .dis_text{
    margin-top: 15px;
    padding-bottom: 15px;
} */
.main .image{
    height: 610px;
    border-radius: 0px 20px 20px 0px;
}
/*Sign Up Page*/
.main_bg{
    background-image: url('../images/signup_bg1.jpg');
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.sign_up_button{
    width: 100%;
    height: 35px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: rgb(11, 85, 23);
    color: white;
}
.sign_up_button:hover{
    font-style: italic;
}
.sign_up_form{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, .4);
    padding: 30px 60px 0px 60px;
    background-color: white;
    position: absolute;
    margin: 50px 0px 0px 700px;
    border-radius: 10px;
}
.sign_up_form h1{
    margin-bottom: 30px;
}
.left_hr1{
    width: 20%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    display: inline-block;
    margin-left: 80px;
}

/*Home Page*/
.bunner_img{
    position: relative;
    height: 620px;
}
.bunner_img img{
    height: 620px;
}
.overlay{
    text-align: center;
    color: white;
}
.bunner_text{
    margin-top: 250px;
    line-height: 50px;
}
.header_text{
    font-size: 40px;
}
.bunner_img .overlay{
	position: absolute;
	background-color:rgba(0, 0, 0, 0.6);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width:100% ;
	height: 100%;
    overflow: inherit;
	transform:scale(1);
}
.shopnow_btn{
    width: 100px;
    height: 35px;
    background-color: rgb(11, 85, 23);
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 160px;
}
.shopnow_btn:hover{
    font-style: italic;
    cursor: pointer;
}
.first_hr{
    width: 35px;
    border: 2px solid rgb(219, 216, 216);
    border-radius: 5px;
    display: inline-block;
}
.sec_hr{
    width: 35px;
    border: 2px solid rgba(128, 128, 128, 0.8);
    border-radius: 5px;
    display: inline-block;
}
.third_hr{
    width: 35px;
    border: 2px solid rgba(128, 128, 128, 0.8);
    border-radius: 5px;
    display: inline-block;
}
.first_hr:hover,.sec_hr:hover,.third_hr:hover{
    cursor: pointer;
}
.clear{
    clear: both;
}
/*Category*/
.title{
    margin-left: 80px;
    margin-top: 50px;
    display: inline-block;
}
.viewmore_btn{
    float: right;
    margin-right: 100px;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(11, 85, 23);
    color: white;
    margin-top: 50px;
}
.viewmore_btn:hover{
    font-style: italic;
    cursor: pointer;
}
.first_category{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 40px;
    margin: 50px 80px 0px 80px;
} 
.second_category{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 40px;
    margin: 70px 80px 0px 80px;
    margin-bottom: 50px;
} 
.category_img{
    width: 100%;
    height: 300px;
}
.category_a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.category_hr{
    width: 60px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
.text{
    position: relative;
    margin-top: -80px;
    margin-left: 30px;
}
/*Start our plants*/
.first_row, .second_row, .third_row{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 30px;
    margin: 50px 80px 50px 80px;

}
.sale_product{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, .1);
    border: 1px solid rgba(128, 128, 128, 0.2);
}
.sale_product .first_img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}
.name_price{
    text-align: center;
}
.new_plant_btn{
    width: 50px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: 0;
    color: white;
    background-color: rgb(11, 85, 23);
    position: relative;
    left: 80%;
    bottom: 300px;
}
.promo_plant_btn{
    width: 50px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: 0;
    color: white;
    background-color: red;
    position: relative;
    left: 80%;
    bottom: 300px;
}
.heart{
    color: rgb(11, 85, 23);
    position: relative;
    left: 87%;
    bottom: 180px;
}
.zoon_in{
    color: rgb(11, 85, 23);
    position: relative;
    left: 80%;
    bottom: 140px;
}
.share{
    color: rgb(11, 85, 23);
    position: relative;
    left: 73%;
    bottom: 100px;
}
.heart_normal{
    color: rgb(11, 85, 23);
    position: relative;
    left: 87%;
    bottom: 140px;
}
.zoon_in_normal{
    color: rgb(11, 85, 23);
    position: relative;
    left: 80%;
    bottom: 100px;
}
.share_normal{
    color: rgb(11, 85, 23);
    position: relative;
    left: 73%;
    bottom: 60px;
}
.icon{
    margin-bottom: 0px;
}
.sale_product .overlay{
    position: absolute;
	background-color:rgba(11, 85, 23, 0.3);
	color: white;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width:100% ;
	height: 100%;
	overflow: hidden;
	transform:scale(0);
}
.sale_product:hover .overlay{
    width: 100%;
	height: 100%;
	transition: 1s;
	cursor: pointer;
	transform: scale(1);
    border-radius: 10px;
}
.overlay .detail_btn{
    margin-top: 180px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color:rgb(11, 85, 23);
    outline: none;
    border: none;
}
.overlay .detail_btn:hover{
    cursor: pointer;
    background-color: rgb(11, 85, 23);
    color: white;
}
/*About*/
.about{
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 250px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}
.divide{
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about div{
    margin: auto;
}
/*Product Page*/
.space{
    height: 50px;
    width: 100%;
}
.up_btn {
    width: 60px;
    background-color: white;
    color: rgb(11, 85, 23);
    border: 1px solid rgba(128, 128, 128, 0.5);
    outline: none;
    padding: 7px;
    float: right;
    margin-right: 90px;
    margin-top: 50px;
}
.down_btn{
    width: 60px;
    background-color: white;
    color: rgb(11, 85, 23);
    border: 1px solid rgba(128, 128, 128, 0.5);
    outline: none;
    padding: 7px;
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}
.up_btn:hover, .down_btn:hover{
    background-color: rgb(11, 85, 23);
    color: white;
    cursor: pointer;
}
.current_btn,.next_btn{
    width: 50px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.current_btn{
    background-color:rgb(11, 85, 23);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.5);
    outline: none;
}
.current_btn:hover,.next_btn:hover{
    cursor: pointer;
}
.second_btn{
    margin-left: 580px;
}
/*Blog Page*/

.blog{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    margin: 30px 80px 0px;
}
.blog img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}
.blog img:hover{
    transform: scale(1.2);
}
.image_hover{
    display: inline-block;
    overflow: hidden;
    height: 230px;
}
.discuss_partner h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.readmore_link{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}
.readmore_link:hover{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}
.blog h3,i,p{
    padding: 15px;
}
.blog div{
    /* border: 1px solid rgba(128, 128, 128, 0.27); */
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, .1);
    position: relative;
}
/* start support */
.support{
    display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.support div p{
    display: inline-block;
}
.support div{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 10px;
    /* font-weight: bold; */
}
.support div p span{
    color: gray;
}
/*footer*/
footer{
    background-color: rgba(0, 0, 0, 0.831);
    color: white;
    margin-top: 50px;
}
.footer{
    display: grid;
    grid-template-columns: 700px auto auto 350px;
    grid-gap: 40px;
    margin-top: 50px;
    padding-bottom: 20px;
}
.footer .text{
    margin-left: -12px;
}
.footer_nav{
    text-decoration: none;
    display: block;
    color: white;
    margin-bottom: 20px;
    padding-left: 30px;
}
.footer_nav:hover{
    text-decoration: underline;
}
.footer_address{
    padding-bottom: -10px;
}
.footer_icon{
    margin-right: 10px;
}
.social{
    margin: 0px 5px;
    display: inline-block;
    color: white;
}
.signup_me div{
    padding-top: 60px;
    float: left;
    width: 60%;
}
.signup_me div p{
    /* margin: 20px 0px 30px; */
    padding-left: 0px;
    color: white;
}
.email_input{
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 80px;
}
.signup_text{
    padding-left: 40px;
}
.signup_btn{
    width: 100px;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    display: inline-block;
    margin-left: -5px;
}
.signup_btn:hover{
    cursor: pointer;
    font-style: italic;
}
.subscribe_img{
    padding-top: 70px;
    padding-right: 100px;
    width: 400px;
    float: right;
}
.why{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 40px;
    margin: 50px 80px 0px 80px;
}
.why img{
    width: 100%;
    height: 100%;
}
.why h2{
    margin-top: 180px;
    padding-left: 10px;
}
.why a{
    padding-left: 10px;
    color: rgb(11, 85, 23);
}
/*Detail*/
#detail_one{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
    margin: 50px 80px 0px 80px;
}
#detail_one img{
    width: 100%;
    height: 100%;
}
#detail_one p{
    margin-top: 10px;
}
.name{
    margin-top: 10px;
    margin-bottom: 10px;
}
.buy_btn{
    color: white;
    background-color: rgb(11, 85, 23);
    width: 200px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.buy_btn:hover{
    font-style: italic;
}
/*blog*/
.news_first{
    margin: 50px 50px 10px 50px;
}
.news_second{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 2px;
    margin: 50px 50px 10px 50px;
}
.news_first img,.news_second .sec_img{
    width: 40%;
    float: left;
    padding-right: 30px;
}
.myhr{
    margin: 0px 50px 20px 50px;
}
.news_third{
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
}
.news_third a{
    color: black;
    padding: 10px;
}
.trd_img{
    width: 40%;
    float: left;
    padding: 10px;
}
.myhr2{
    margin: 20px 100px 0px 10px;
}
/*Contact Page*/
.contact_bg1{
    height: 500px;
    background-color: rgb(11, 85, 23);
}
.contact_img{
    height: 500px;
    width: 100%;
}
.contact_bg2{
    height: 200px;
    background-color: white;
}
.social_icon{
    color: black;
}
.contact_us{
    position: absolute;
    margin-top: -630px;
    margin-left: 160px;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.5);
}
.contact_us_title{
    margin-top: 30px;
    text-align: center;
}
.contact_all{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
}
.contact_one{
    padding: 20px;
}
.contact_map{
    position: relative;
    margin-top: 30px;
}
.contact_msg{
    position: inherit;
    padding: 35px 20px 20px 20px;
}
.contact_input{
    width: 90%;
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: rgba(128, 128, 128, 0.206);
    border-radius: 10px;
}
.cmt{
    height: 150px;
}
.send_btn{
    width: 90%;
    margin-top: 30px;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(11, 85, 23);
    color: white;
    font-size: 15px;
}
/*About Page*/
.about_img{
    margin: 30px 300px 0px 300px;
}
.mission{
    width: 95%;
    height: 250px;
    background-color: rgba(11, 85, 23, 0.8);
    margin: 50px 30px 0px 30px;
}
.mission_text{
    color: white;
    font-size: 23px;
    text-align: center;
    padding: 80px 150px 80px 150px;
}